<h1>Adivina el ELO</h1>
<form (ngSubmit)="GetMessage()" *ngIf="!loaded">
  <div>
    <label>
      <span>Enlace a la partida:</span>
      <input type="text" name="link" required [(ngModel)]="link" #inputLink="ngModel" pattern="https://www.chess.com/game/live/[0-9]+" />
    </label>
  </div>
  <div *ngIf="inputLink.invalid && (inputLink.dirty || inputLink.touched)"
    class="alert">
  <div *ngIf="inputLink.errors?.['required']">
    Debes escibir un enlace.
  </div>
  <div *ngIf="inputLink.errors?.['pattern']">
    El enlace tiene que ser parecido a <a href="https://www.chess.com/game/live/67909477479" target="_blank">https://www.chess.com/game/live/67909477479</a>
  </div>
</div>
  <div>
    <button type="submit" [disabled]="inputLink.invalid">Obtener Texto</button>
  </div>
</form>

<div class="loading" *ngIf="loading">cargando...</div>


<div *ngIf="loaded">

  <p>Selecciona que jugador eres:</p>
  <div class="players">
    <div *ngFor="let player of players">
      <label>
        <input type="radio" [value]="player.color" name="color" [(ngModel)]="color" />
        <img height="30" width="30" [src]="player.avatar" />
        <span>{{player.name}}</span>
      </label>
    </div>
  </div>

  <p>Copia el siguiente mensaje y pegalo en discord:</p>
  <div>
    <textarea class="message" [ngModel]="message" readonly></textarea>
  </div>

  <div>
    <button type="button" (click)="clean()">Otra partida</button>
  </div>
</div>

<div *ngIf="error">
  Ups! Ocurri&oacute; algun error

  <p>{{error | json}}</p>
</div>

<div>
  <h3>&iexcl;Advertencia!</h3>
  <p>Este sitio utiliza recursos gratuitos y no oficiales para acceder a la informaci&oacute;n p&uacute;blica de <a href="https://www.chess.com/" target="_blank">www.chess.com</a>, por lo que está limitado, entre otras cosas, a un m&aacute;ximo de 5 solicitudes por segundo. Si te da alg&uacute;n error simplemente espera un minuto e int&eacute;ntalo de nuevo. Si el error persiste, puedes <a href="https://github.com/miguelerm/adivina-el-elo/issues" target="_blank">reportarlo</a> en el repositorio de este proyecto.</p>
</div>
